body {
    background-color: grey;
    font-size: 18px;
    font-family: Helvetica;
    
}

h1 {
    outline: 2px ridge rgba(255,245,252,0.98);
    text-align: center;
    font-family: Helvetica;

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}